<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head lang="en">
	<title>TNT Warband Builder</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}" type="image/x-icon" />

	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
		rel="stylesheet" media="screen" />
	<link href="../static/css/tnt.css" th:href="@{/css/tnt.css}" rel="stylesheet" media="screen" />
	<link href="../static/css/bootstrap-select.min.css" th:href="@{/css/bootstrap-select.min.css}"	rel="stylesheet" media="screen" />

	<!-- +++++++++++++++++++++++++++++++++++++++++++++++++ -->
	<script src="../static/js/jquery-2.2.4.min.js" th:src="@{/js/jquery-2.2.4.min.js}" type="application/javascript;charset=utf-8"></script>
	
	
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" type="application/javascript;charset=utf-8"></script>
	
	<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"  type="application/javascript;charset=utf-8"></script>
	<script src="../static/js/bootstrap-tooltip.js" th:src="@{/js/bootstrap-tooltip.js}" type="application/javascript;charset=utf-8"></script>
	<script src="../static/js/bootstrap-select.js" th:src="@{/js/bootstrap-select.js}" type="application/javascript;charset=utf-8"></script>
	<script src="../static/js/bootstrap-confirmation.js" th:src="@{/js/bootstrap-confirmation.js}" type="application/javascript;charset=utf-8"></script>
	<script src="../static/js/bootstrap-submenu.min.js" th:src="@{/js/bootstrap-submenu.min.js}" type="application/javascript;charset=utf-8"></script>
	<script src="../static/js/tnt.js" th:src="@{/js/tnt.js}" type="application/javascript;charset=utf-8"></script>

  <script>
	  $( function() {
	    $( "#tabs" ).tabs();
	  } );
  </script>
  
  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-3820764-17', 'auto');
	  ga('send', 'pageview');
	
	</script>

</head>

<body>

</body>

</html>