<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>

<body>
	<div class="container">
			<!--/*/ <th:block th:include="fragments/menu :: header"></th:block> /*/-->
		
		<div th:if="${errorMessage}">
			<span th:text="${errorMessage}"></span>
		</div>
		
		<div>
			<form class="form-horizontal" th:object="${warband}" th:action="@{/}" method="post" id="warbandForm">
				

				<div class="form-group warband-theme">
					<label class="col-sm-2 control-label">Theme:</label>
					<div class="col-sm-10">
						<select th:field="*{themeId}" th:id="themeSelector" class="selectpicker"
						 	data-max-options="1"  th:multiple="true" data-live-search="true" data-header="Select A Theme">
							<option th:each="theme : ${themes}" th:value="${theme.id}" th:text="${theme.name}"/>
						</select>
					</div>
				</div>

				<div th:each="theme : ${themes}" th:class="theme-desc" th:id="'theme-desc-'+${theme.id}" th:text="${theme.notes}"></div>

				<div class="form-group warband-tactical">
					<label class="col-sm-2 control-label">Tactical Discipline:</label>
					<div class="col-sm-10">
						<select th:field="*{tacticleDisciplineId}" th:id="tacDisSelector" class="selectpicker" 
							data-live-search="true" data-max-options="1"  th:multiple="true" data-header="Select A Tacticle Discipline">
							<option th:each="tacticleDiscipline : ${tacticleDisciplines}" th:value="${tacticleDiscipline.id}" th:text="${tacticleDiscipline.name}" />
						</select>
					</div>
				</div>

				<div class="form-group warband-name">
					<label class="col-sm-2 control-label">Warband Name:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{name}" placeholder="Enter a name" />
					</div>
				</div>

				<div class="form-group warband-xp">
					<label class="col-sm-2 control-label">Warband XP Cost:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:id="total-value-box" th:value="*{warbandXpCost}" th:disabled="disabled"/>
					</div>
				</div>

				<!--

				<div class="form-group">
					<label class="col-sm-2 control-label">Back Story:</label>
					<div class="col-sm-10">
						<textarea class="form-control" rows="4" cols="80" th:field="*{backStory}" placeholder="Enter a back story"></textarea>
					</div>
				</div>

-->

				<!-- Character Section -->

				<div id="characterDiv"></div>		

				<div class="form-group double character" th:each="character, rowStat : *{characters}">
					<input type="hidden" th:field="*{characters[__${rowStat.index}__].id}" />

					<input type="hidden" th:id="'meleeTotal-' + *{characters[__${rowStat.index}__].id}" th:value="*{characters[__${rowStat.index}__].meleeWeaponsTotal}" />
					<input type="hidden" th:id="'rangedTotal-' + *{characters[__${rowStat.index}__].id}" th:value="*{characters[__${rowStat.index}__].rangedWeaponsTotal}" />
					<input type="hidden" th:id="'armourTotal-' + *{characters[__${rowStat.index}__].id}" th:value="*{characters[__${rowStat.index}__].armourTotal}" />
					<input type="hidden" th:id="'traitTotal-' + *{characters[__${rowStat.index}__].id}" th:value="*{characters[__${rowStat.index}__].traitsTotal}" />
					<input type="hidden" th:id="'equipmentTotal-' + *{characters[__${rowStat.index}__].id}" th:value="*{characters[__${rowStat.index}__].equipmentTotal}" />
								
					<div class="form-group character-name">
						<label class="col-sm-2 control-label">Character Name:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{characters[__${rowStat.index}__].name}" />
						</div>
					</div>

					<div class="form-group character-xp">
						<label class="col-sm-2 control-label">Character XP Cost:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:id="'charTotal-' + *{characters[__${rowStat.index}__].id}" 
							th:value="*{characters[__${rowStat.index}__].meleeWeaponsTotal 
								+ characters[__${rowStat.index}__].rangedWeaponsTotal
								+ characters[__${rowStat.index}__].armourTotal
								+ characters[__${rowStat.index}__].traitsTotal
								+ characters[__${rowStat.index}__].equipmentTotal }" th:disabled="disabled"/>
						</div>
					</div>

					<!--

					<div class="form-group">
						<label class="col-sm-2 control-label">Character Back Story:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{characters[__${rowStat.index}__].backStory}" />
						</div>
					</div>
-->


					<div class="form-group character-melee">
						<label class="col-sm-2 control-label">Melee Weapons:</label>
						<div class="col-sm-10">
							<select th:field="*{characters[__${rowStat.index}__].weaponsMelee}" class="meleeWeapon selectpicker" th:multiple="true" data-width="100%"
								data-live-search="true" data-actions-box="true" data-header="Select Melee Weapons" th:id="'meleeWeapon-' + *{characters[__${rowStat.index}__].id}">
									
									<option th:each="weaponMelee : ${weaponsMelee}" th:value="${weaponMelee.id}" 
										th:text="${weaponMelee.name}" th:attr="data-subtext=${weaponMelee.xpCost} + ' XP ['+${weaponMelee.className}+']'" />
										
								</select>
						</div>
					</div>

					<div class="form-group character-ranged">
						<label class="col-sm-2 control-label">Ranged Weapons:</label>
						<div class="col-sm-10">
							<select th:field="*{characters[__${rowStat.index}__].weaponsRanged}" class="rangedWeapon selectpicker" th:multiple="true"
								data-width="100%" data-live-search="true" data-actions-box="true" data-header="Select Ranged Weapons" th:id="'rangedWeapon-' + *{characters[__${rowStat.index}__].id}">
							
									<option th:each="weaponRanged : ${weaponsRanged}" th:value="${weaponRanged.id}" th:text="${weaponRanged.name}" 
										th:attr="data-subtext=${weaponRanged.xpCost} + ' XP ['+${weaponRanged.className}+']'" />
								</select>
						</div>
					</div>

					<div class="form-group character-armour">
						<label class="col-sm-2 control-label">Armours:</label>
						<div class="col-sm-10">
							<select th:field="*{characters[__${rowStat.index}__].armours}" class="armour selectpicker" th:multiple="true" data-width="100%"
								data-live-search="true" data-max-options="1" data-actions-box="true" data-header="Select Armours" th:id="'armour-' + *{characters[__${rowStat.index}__].id}">
									
									<option th:each="armour :${armours}" th:value="${armour.id}" th:text="${armour.name}" 
										th:attr="data-subtext=${armour.xpCost} + ' XP ['+${armour.className}+']'" />
								</select>
						</div>
					</div>

					<div class="form-group character-equipment">
						<label class="col-sm-2 control-label">Equipment:</label>
						<div class="col-sm-10">
							<select th:field="*{characters[__${rowStat.index}__].equipment}" class="equipment selectpicker" th:multiple="true" data-width="100%"
								data-live-search="true" data-actions-box="true" data-header="Select Equipment" th:id="'equipment-' + *{characters[__${rowStat.index}__].id}">
							
									<option th:each="equipment : ${equipments}" th:value="${equipment.id}" th:text="${equipment.name}"
										th:attr="data-subtext=${equipment.xpCost} + ' XP ['+${equipment.classTypesStr}+']'" />
								</select>
						</div>
					</div>
					
					<!-- +++++++++++++++++++++++++++ -->
					
					<div class="form-group character-trait">
						<label class="col-sm-2 control-label">Traits:</label>
						<div class="col-sm-10">

							<select th:field="*{characters[__${rowStat.index}__].traits}" class="trait selectpicker" th:multiple="true" data-width="100%"
								data-live-search="true" data-actions-box="true" data-header="Select Traits" th:id="'trait-' + *{characters[__${rowStat.index}__].id}">
							
									<option th:each="trait : ${traits}" th:value="${trait.id}" th:text="${trait.name}"
										th:attr="data-subtext=${trait.xpCost} + ' XP ['+${trait.classTypesStr}+']'" />
								</select>
						</div>
					</div>
					
					<!-- +++++++++++++++++++++++++++ -->
					
					
					
					<div class="form-group character-trait">
						<label class="col-sm-2 control-label">Starting Traits:</label>
						<div class="col-sm-10">
							<select th:field="*{characters[__${rowStat.index}__].startingTraits}" class="trait selectpicker" th:multiple="true" data-width="100%"
								data-live-search="true" data-actions-box="true" data-header="Select Traits" th:id="'trait-' + *{characters[__${rowStat.index}__].id}">
							
								<optgroup th:each="startingTrait : ${startingTraitsList}" 
									th:label="${startingTrait.traitName + ' [' + startingTrait.classTypesStr + ']'}">
									
									<option th:each="levelCount : ${#numbers.sequence(1, __${startingTrait.maxLevel}__)} " 
										th:value="${startingTrait.traitId}" 
										th:text="${startingTrait.traitName + (__${startingTrait.maxLevel}__ > 1 ? ' Level ' + levelCount : '') + ' [' + (startingTrait.xpCost * levelCount) + ' XP]'}"
										th:attr="xp-cost=${startingTrait.xpCost * levelCount}"/>
								</optgroup>
							</select>
						</div>
					</div>					
					
					
					<!-- +++++++++++++++++++++++++++ -->
					
					<div class="form-group row-delete-button">
						<span class="col-sm-2">
							<button class="btn tn-default btn-danger deleteCharacter" th:id="*{'submit-' + characters[__${rowStat.index}__].id}" 
								th:value="*{characters[__${rowStat.index}__].id}" name="removeCharacter">
								<i class="glyphicon glyphicon-trash icon-white"></i> Remove Character
							</button>
						</span>
					</div>
														
				</div>
				
				<!-- End Character Section -->
				
				<!-- Print warband -->

					<div class="form-group row-delete-button">
						<span class="col-sm-2">
							<button class="btn tn-default btn-danger printWarband" id="printWarband" value="true" name="printWarband">
								<span class="glyphicon glyphicon-print"></span> Print Warband
							</button>
						</span>
					</div>

				<!-- Add character -->
				
				<div class="col-lg-12 button-col-align-right character-add">
					<button id="addCharacter" class="btn btn-success" name="addCharacter" value="Add Character" >
								<i class="glyphicon glyphicon-plus-sign icon-white"></i> Add Character
					</button>
				</div>
			</form>
		</div>
		
	</div>



<!-- 
This is all the information about this warband type.  If you're wanting to make your own warband builder site, copy the JSON 
below for the values.

I figured I can help out to keep you from having to type all the stuff.  ;)  - Troy 

 -->
	<script th:inline="javascript">
		var rangedWeapons = /*[[ ${rangedWeaponsJSON} ]]*/ [];
		
		var meleeWeapons = /*[[ ${meleeWeaponsJSON} ]]*/ [];
		
		var armours = /*[[ ${armoursJSON} ]]*/ [];
		
		var traits = /*[[ ${traitsJSON} ]]*/ [];
		
		var equipment = /*[[ ${equipmentJSON}]]*/ [];	

		var characterIds = /*[[ ${characterIds}]]*/ [];	
	</script>


	<!--/*/ <th:block th:include="fragments/bottom-menu :: footer"></th:block> /*/-->

</body>

</html>