<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>

<body>
	<!--/*/ <th:block th:include="fragments/menu :: header"></th:block> /*/-->

	<div class="container">
		<h1>Current Members</h1>

		<div th:if="${message}">
			<h3 th:text="${message}" style="color: red;"></h3>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Username</th>
					<th>Email Address</th>
					<th>Date Joined</th>
					<th>Enabled</th>
					<th>Show Details</th>
					
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td th:text="${user.firstName} + ' ' + ${user.lastName} "></td>
					<td th:text="${user.username}">Username</td>
					<td th:text="${user.emailAddress}">EmailAddress</td>
					<td th:text="${user.dateAdded}">Date Added</td>
					<td th:text="${user.enabled}">Enabled</td>
					<td th:text="${user.showDetails}">Show Details</td>
					
					<td><a href="#" th:href="${'/admin/enable/' + user.id}" class="btn btn-success btn-sm" th:text="${user.enabled ? ' Disable' : ' Enable'}"><i class="glyphicon glyphicon-plus-sign icon-white"></i> adsf</a></td>
					<td><a href="#" th:href="${'/admin/showdetails/' + user.id}" class="btn btn-success btn-sm" th:text="${user.showDetails ? ' Hide Details' : ' Show Details'}"><i class="glyphicon glyphicon-plus-sign icon-white"></i> eee</a></td>
					<td><a href="#" th:href="${'/admin/delete/' + user.id}" class="btn btn-danger btn-sm" th:text="${' Delete'}"><i class="glyphicon glyphicon-trash icon-white"></i> czc</a></td>
				</tr>
			</tbody>
		</table>

	</div>

	<!--/*/ <th:block th:include="fragments/bottom-menu :: footer"></th:block> /*/-->
</body>
</html>