<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/menu :: header"></th:block> /*/-->

		<div align="center">
			<img src="/images/haha.jpg" />
			<h2>You forgot your password! Sucks to be you!</h2>

			<div th:if="${message}">
				<strong th:text="${message}"></strong>
			</div>
			
			<form th:action="@{/forgotpassword}" method="post">
				<div>
					<label> User Name : <input type="text" name="multipassName" />
					</label>
				</div>
				<div>
					<input class="btn btn-danger" type="submit" value="Reset Password" />
				</div>
			</form>
		</div>

	</div>

	<!--/*/ <th:block th:include="fragments/bottom-menu :: footer"></th:block> /*/-->



</body>
</html>