<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>

<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/menu :: header"></th:block> /*/-->


		<div  sec:authorize="isAnonymous()">
			<div th:if="${param.requestmembership}">
				<strong>We've received your request for membership and added you.  You can now log in.  Thanks!</strong>
			</div>
		
			<div>
				Thank you for your interest in the <strong>TNT Warband Generator</strong>.  Please register to use the site.
			</div>
		</div>
		
		<div sec:authorize="isAuthenticated()">
			<h2 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h2>
			
			You can start making a warband by clicking on the menu item titled "Warbands".
		</div>

<p></p>

		<div>
			<strong>Recent changes:</strong>
			<ul>
				<li>Added Mutant Cannibals, Survivors, and Outcasts warbands</li>
				<li>Added all missing skills</li>
				<li>Added Freelancers</li>
				<li>Added flag to set if you want email notifications of changes.  Default is 'No'.</li>
			</ul>
		</div>

	</div>

	<!--/*/ <th:block th:include="fragments/bottom-menu :: footer"></th:block> /*/-->

</body>
</html>