<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>

<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/menu :: header"></th:block> /*/-->

		<p>
			<strong>We're still in development.  Please excuse our dust</strong>
		</p>

		<div  sec:authorize="isAnonymous()">
			<h2>Welcome!</h2>
		
			<div th:if="${param.requestmembership}">
				<strong>We've received your request for membership. Thanks!</strong>
			</div>
		
			<div>
				Thank you for your interest in the <strong>TNT Warband Generator</strong>.  Please register to use the site.
			</div>
		</div>
		
		<div sec:authorize="isAuthenticated()">
			<h2 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h2>
			
			You can start making a warband by clicking on the menu item titled "Warbands".
		</div>

	</div>

	<!--/*/ <th:block th:include="fragments/bottom-menu :: footer"></th:block> /*/-->

</body>
</html>