<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>

<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/menu :: header"></th:block> /*/-->

		<h1>Welcome!</h1>

		<div th:if="${param.logout}">
			<strong>You have been logged out.</strong>
		</div>

		<div th:if="${param.requestmembership}">
			<strong>We've received your request for membership. Thanks!</strong>
		</div>

		<p>
			<strong>Right now this is still in development.</strong>
		</p>

		<p>
			Thanks for your interest in <strong>TNT Warband Generator</strong>.  Right now, the login isn't working.  Just <a href="#" th:href="@{/warband}"><h2>click here</h2></a>.
		</p>

	</div>

	<!--/*/ <th:block th:include="fragments/bottom-menu :: footer"></th:block> /*/-->

</body>
</html>