<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

<link href="../static/css/rogue-stars.css"
	th:href="@{css/rogue-stars.css}" rel="stylesheet" media="screen" />

<script src="../static/js/rogue-stars.js" th:src="@{js/rogue-stars.js}"></script>

<head lang="en">

<title>Rogue Stars Warband Builder</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:if="${param.error}">
		Invalid username and password.
	</div>
	
	<div th:if="${param.logout}">
		You have been logged out.
	</div>
	
	<form th:action="@{/login}" method="post">
		<div>
			<label> User Name : <input type="text" name="multipassName" />
			</label>
		</div>
		<div>
			<label> Password: <input type="password" name="multipassIdent" />
			</label>
		</div>
		<div>
			<input type="submit" value="Sign In" />
		</div>
	</form>
</body>
</html>