<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/menu :: header"></th:block> /*/-->


		<div class="roadmap">
		
		<h4>Roadmap of future generator improvements:</h4>
		
		<ol id="roadMap">	
			<li>Add validation to the warbands</li>
			<li>Add warbands and their model types/titles</li>
			<li>Make printing look better</li>
			<li>Add page numbers to the printed pdf</li>
			<li>Make the site look nice</li>
			</ol>
		</div>

	</div>

	<!--/*/ <th:block th:include="fragments/bottom-menu :: footer"></th:block> /*/-->
</body>
</html>